.btn {
    height: 40px;
}
.form-item
{
    margin: 5px;
    width: 80%;
}

.map-container {
    height: 400px;
    width: 400px;
}
.basic-form
{
    background-color: snow;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    padding: 20px !important;

}
.basic-form h2 {
    margin: 0;
    text-align: center;
    font-weight: normal; 
    border-bottom: 1px solid gray; 
    width: 100%;
    color: darkslategrey;
}

.header{
    width: 100%;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #00AEAE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
    font-weight: bold;

}

.register{
    margin-top: 100px;
    margin-left: 100px;
    padding: 0px;
    background-color: snow;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
              -5px 5px 10px rgba(0, 0, 0, 0.1),
              5px -5px 10px rgba(0, 0, 0, 0.1),
              -5px -5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.register > .register-form{
    margin: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.register-form> .basic-form{
    padding: 0% !important;
    /* width: 100%; */
    height: 100%;
}

.register-form > .basic-form > .form-item > div{
    width: 350px;
}

.register-form > .basic-form > button{
    margin-top: 10px;
    border-radius: 25px;
    width: 300px;
}


.login-component{
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: snow;
    width: 450px;
    height: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px 5px 10px rgba(0, 0, 0, 0.1),
    5px -5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px rgba(0, 0, 0, 0.1);
}
.login-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form > .basic-form > .form-item > div{
    width: 350px;
}

.login-form > .basic-form > button{
    margin-top: 10px;
    border-radius: 25px;
    width: 300px;
}

.button-container > button{
    font-size: 12px;
}