.register{
    margin-top: 50px;
    padding: 0px;
    background-color: snow;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
              -5px 5px 10px rgba(0, 0, 0, 0.1),
              5px -5px 10px rgba(0, 0, 0, 0.1),
              -5px -5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.register > .register-form{
    margin: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.register-form> .basic-form{
    padding: 0% !important;
    /* width: 100%; */
    height: 100%;
}

.register-form > .basic-form > .form-item > div{
    width: 350px;
}

.register-form > .basic-form > button{
    margin-top: 10px;
    border-radius: 25px;
    width: 300px;
}

.button-container > a > button {
    font-size: small;
    width: auto;
}